body {
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
}

header {
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
}

.grey-text {
    color: #69696a;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border: 2px solid red;
}

.button {
    color: #fff;
    text-decoration: none;

}

.top-button {
    width: 100%;
    background-color: #000;
    border-radius: 8px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 25px;
}

.bot-button {
    width: 100%;
    background-color: #000;
    border-radius: 8px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

p {
    border-left: 2px solid #69696a ;
}

footer {
    background-color: rgba(247, 193, 162, 0.7);
    box-sizing: border-box;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer-link > li {
    display: inline;
}

.footer-link {
    width: 50%;
    text-align: right;
}

h3{
    width: 50%;
    margin: 0px;
    padding: 0px;
}