body {
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

.grey-text {
    color: #69696a;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}

ul > li {
    padding: 5px;
}

.button {
    color: #fff;
    text-decoration: none;
}

.top-button {
    width: 100%;
    border-radius: 10px;
    background-color: #000;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 25px;
}

.bot-button {
    width: 100%;
    background-color: #000;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

p {
    border-left: 2px solid #69696a ;
    padding-left: 2px;
}

footer {
    background-color: rgba(247, 193, 162, 0.7);
    box-sizing: border-box;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer-link > li {
    display: inline;
}

.footer-link {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}

h3{
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
}

@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: right;
    }

    h1{
        width: 50%;
    }

    nav{
        width: 50%;
        display: flex;
        flex-direction: row;
    }

    .top-button {
        width: 100px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0px;
        
    }

    .top-link > li {
        display: inline;
        padding: 5px;
    }

    .top-link {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
    }

    .middle {
        width: 50%;
        flex-direction: row;
    }

    .bigscreen {
        display: flex;
        flex-direction: column;
    }

    .circle {
        opacity: .5;
        border-radius: 50%;
        position: absolute;
    }

    .circlebig {
        width: 200px;
        height: 200px;
        background-color:rgba(247, 136, 167, 0.6);
        right: 80px;
        top: 200px;
    }

    .circlemed {
        width: 125px;
        height: 125px;
        background-color: rgba(247, 193, 162, 0.7);
        right: 100px;
    }

    .circlesmall {
        width: 75px;
        height: 75px;
        background-color: rgba(207, 130, 213, 0.6);
        right: 80px;
    }

}